@font-face {
    font-family: first-letter;
    src: url(./fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: GloriaHallelujah-Regular;
    src: url(./fonts/GloriaHallelujah-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: GloriaHallelujah-Regular, cursive;
    font-style: italic;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #c8d7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23133df1' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-size: clamp(16px, 3vw, 100rem);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.pic {
    display: flex;
    background-image: linear-gradient(90deg, rgba(230, 230, 248, 0.692), rgba(100, 204, 245, 0.192));
    padding: 16px;
    flex: 2;
}
.pic:hover {
    background-image: linear-gradient(180deg, rgba(230, 230, 248, 0.692), rgba(100, 204, 245, 0.192));
}
.descr {
    font-size: clamp(24px, 5vw, 30rem);
}
ul, ol {
    display: flex;
    flex-direction: column;
    text-align: left;
}
ol li::marker {
    font-family: first-letter, cursive;
    font-size: 1.2em;
  }
  
  ul li::marker {
    content: "♨"
  }
h1, h3, p {
    text-align: center;
    margin: 0;
    padding: 1vw;
}
img {
    display: flex;    
    margin: auto;
    height: auto;
    width: clamp(200px, 40vw, 60rem);
}
.ingred {
    margin: auto;
    padding: auto;
    text-align: left;
}
.footer {
    position: sticky;
    bottom: 0;
    margin: 1vw;
    height: clamp(45px, 4vw, 20rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer:hover {
    color: rgb(119, 114, 114);
    text-shadow: 1px 1px 2px rgb(82, 83, 83);
  }

div h1:first-child {
    font-size: clamp(24px, 8vw, 30rem);
    letter-spacing: 0em;
}

div p:first-child::first-letter {
    font-size: clamp(20px, 5vw, 30rem);
    font-family: first-letter, cursive;
    letter-spacing: .2em;

}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: rgb(119, 114, 114);
}
.back {
    font-size: clamp(18px, 6vw, 30rem);
    transition: all .5s;
}
.back:hover {
    transform:rotate(270deg);
}