body {
    display: flex;
    flex-direction: column;
    min-width: 650px;
    background: #eee;
    font-family: cursive;
    font-style: italic;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.main {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.pic {
    display: flex;
    background: #e3f4ff;
    padding: 16px;
    border: 1px dotted cadetblue;
    flex: 2;
}
.descr {
    font-size: 24px;
    background: white;
    margin: 0px;
}
ul, ol {
    display: flex;
    flex-direction: column;
    text-align: left;
}
h1, h3, p {
    text-align: center;
}
img {
    display: flex;    
    margin: auto;
    height: auto;
    width: 400px;
}
.ingred {
    margin: auto;
    padding: auto;
    text-align: left;
}
.back {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border: 1px dotted cadetblue;
    margin-bottom: 32px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }
