p, ul, ol {
    font-family: cursive;
    font-style: italic;
}
h1, h3.descr, p {
    text-align: center;
}
img {
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.back {
    font-size: 14px;
    color: brown;
}